/app/controllers/teste
/app/views/teste
/public/assets/css/teste
/public/assets/js/teste

/app/controllers/panel
/app/views/panel
/public/assets/css/panel
/public/assets/js/panel

/docs
/node_modules
/vendor
.env
composer.lock
package-lock.json