@import 'main.css';
@import 'about.css';
@import 'projects.css';
@import 'all-projects.css';
@import 'contact.css';

:root {
  --text-color-primary: #ffffff;
  --text-color-second: #dddddd;
  --text-color-third: #1e65e0;

  --bg-color-primary: #000000;
  --bg-color-second: #1e65e0;
  --bg-color-third: #222222;

  --bg-color-alpha-primary: #ffffff44;

  --border-color-primary: #ffffff;
  --border-color-second: #1e65e0;

  --shadow-color-primary: #ffffff;
  --shadow-color-second: #1e65e0;
  --shadow-color-third: #525252;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html, body {
  height: 100%;
  background-color: var(--bg-color-primary);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
}

.content {
  height: 100%;
}

.content .container {
  height: 100%;
}

.home {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/*============================================================================*/
/*================================== HEADER ==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color-alpha-primary);
}

header nav ul
{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

header nav ul li a {
  height: 40px;
  line-height: 60px;
  padding: 0 20px;
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: 26px;
}
  header nav ul li:hover {
    background-color: var(--bg-color-third);
  }

@media screen and (max-width: 960px) {

  header nav ul li a {
    line-height: 40px;
    font-size: 20px;
  }
}