@import 'main.css';
@import 'about.css';
@import 'projects.css';
@import 'all-projects.css';
@import 'contact.css';

:root {
  --text-color-primary: #ffffff;
  --text-color-second: #dddddd;
  --text-color-third: #1e65e0;

  --bg-color-primary: #000000;
  --bg-color-second: #1e65e0;
  --bg-color-third: #222222;

  --bg-color-alpha-primary: #ffffff22;
  --bg-color-alpha-second: #000000cc;

  --border-color-primary: #ffffff;
  --border-color-second: #1e65e0;
  --border-color-third: #111111;

  --shadow-color-primary: #ffffff;
  --shadow-color-second: #1e65e0;
  --shadow-color-third: #525252;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*============================================================================*/
/*================================== HEADER ==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color-alpha-primary);
  z-index: 1;
}

header nav ul
{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

header nav ul li a {
  height: 40px;
  line-height: 60px;
  padding: 0 20px;
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: 26px;
}

@media screen and (max-width: 960px) {

  header nav ul li a {
    line-height: 40px;
    font-size: 20px;
  }
}

/*============================================================================*/
/*============================================================================*/
.section-title {
  width: 100%;
  text-align: center;
}

.section-title h2 {
  display: inline;
  color: var(--text-color-primary);
  font-size: 30px;
  padding: 0 10px;
  border-bottom: 4px solid var(--border-color-second);
}